<!DOCTYPE html>
<html lang="en">
<head>
    <title>DHULIKHEL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid">
       <form >
        <div class="form-vertical">
            <div class="addplace">
                <label >
                Place Name</label>
                <input type="text" placeholder="place name" ng-model="addplace.placeName" >
            </div><br>
            <div class="addplace">
                <label>Description</label>
                <textarea  placeholder="description" ng-model="addplace.placeDescription">
                </textarea>
            </div><br>

            <div class="addplace">
                <label >Lattitude</label>
                <input type="number" step="any" ng-model="addplace.latitude">
            </div><br>

            <div class="addplace">
                <label >Longitude</label>
                <input type="number" step="any" ng-model="addplace.longitude">
            </div><br>

            <div class="addplace">
                <label >Address</label>
                <input type="text" ng-model="addplace.placeAddress">
            </div><br>

            <div class="addplace">
                <label >image link</label>
                <input type="text" ng-model="addplace.imageLink">
            </div><br>

            <div class="addplace">
                <label >district:</label>
                <select ng-model="addplace.district" placeholder="district" ng-options="district for district in districts"></select>
            </div><br>

            <button ng-click="addPlace()">save</button>
       </div>
           </form>
    </div>





</body>
</html>