<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">


</head>

<body>
<form onsubmit="return false">
    <div class="col-2">
        <label>
            Name
            <input placeholder="What is your full name?" id="name" name="name" tabindex="1"ng-model="formdata.name">
        </label>
    </div>
    <div class="col-2">
        <label>
            Company
            <input placeholder="Where do you currently work?" id="company" name="company" tabindex="2" ng-model="formdata.work">
        </label>
    </div>

    <div class="col-3">
        <label>
            Phone Number
            <input placeholder="What is the best # to reach you?" id="phone" name="phone" tabindex="3" ng-model="formdata.number">
        </label>
    </div>
    <div class="col-3">
        <label>
            Email
            <input placeholder="What is your e-mail address?" id="email" name="email" tabindex="4" ng-model="formdata.email">
        </label>
    </div>
    <div class="col-3">
        <label>
            How often do you travel?
            <select tabindex="5">
                <option>Never</option>
                <option>Occasionally</option>
                <option>Frequently</option>
            </select>
        </label>
    </div>

    <div class="col-4">
        <label>
            AGE
            <input placeholder="How old are you?" id="age" name="age" tabindex="6" ng-model="formdata.age">
        </label>
    </div>
    <div class="col-4">
        <label ng-model ="formdata.gender">
            Gender
            <select tabindex="7">
                <option>MALE</option>
                <option>FEMALE</option>
            </select>
        </label>
    </div>
    <div class="col-4">
        <label>
            Yrs Experience
            <input placeholder="How many years of experience?" id="experience" name="experience" tabindex="7">
        </label>
    </div>
    <div class="col-4 switch">
        <label>password</label>
        <center style="position:relative;margin-bottom:8px;"><input type="password" class="js-switch" ng-model="formdata.password"></center>
    </div>

    <div class="col-submit">
        <button class="submitbtn" ng-click="getInfo()">Submit Form</button>
    </div>

</form>

<script type="text/javascript">
    var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

    elems.forEach(function(html) {
        var switchery = new Switchery(html);
    });
</script>
</body>
</html>