<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script>
        function initialize() {
            var mapProp = {
                center:new google.maps.LatLng(27.621900,85.536924),
                zoom:20,
                mapTypeId:google.maps.MapTypeId.SATELLITE
            };
            var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>



<div class="container-fluid text-left">
    <div class="row content">
        <div class="col-md-2 sidenav text-left" >
            <p><a href="#">Rafting</a></p>
            <p><a href="#">hiking</a></p>
            <p><a href="#">trekking</a></p>
            <p><a href="#">sight seeing</a></p>
            <p><a href="#">jungle safari</a></p>
        </div>

        <div class="col-md-10 text-left body">
            <div >
                <br>
                <div id="googleMap" style="width:800px;height:380px;"></div>

                <div class="jumbotron text-center">
                    <h1>KNOW PLACES</h1>
                </div>

                <div class="dropdown">
                    <button class="btn btn-info btn-lg btn-block dropdown-toggle" type="button" data-toggle="dropdown">
                        Find Places<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu btn-block">
                        <li ui-sref-active="active"><a ui-sref="home.dhulikhel">Dhulikhel</a></li>

                        <li><a href="#">Mustang</a></li>
                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>
<br><br>
<footer class="container-fluid text-center">
</footer>

</body>
</html>




