<!DOCTYPE html>
<html lang="en">
<head>
    <title>form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<div class="container-fluid col-md-12">
    <div class="form-box">
        <div class="signup">
            <div class="signup-form">
                <label class="name">Email Address <input type="text" placeholder="What is your mailId?" ng-model="formdata.emailAddress"> </label>
            </div>
            <div class="signup-form">
                <label class="password">Password <input type="password" placeholder="password" ng-model="formdata.password"></label>
            </div>

            <div>
                <button class="submitbtn">Login</button>
            </div>
            <div>
                <button class="submitbtn"><a ui-sref="home.form">Signup</a></button>
            </div>

        </div>
    </div>
</div>

</body>
</html>