<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="newpage.css">


    <style>
        input.ng-invalid.ng-dirty.ng-touched{
            border:1px solid red;
            color: #F97C7C;
        }
        button.ng-disabled{
            background-color:#9CBF9C ;
        }
        label.label-group>span{
            color: red;
        }
    </style>

</head>
<body >
<div class="form-background">
    <form class="Content" name="frm " >

        <h1>Sign Up</h1>

        <fieldset>

            <label class="label-group">Name:
                <input type="text" name="name" placeholder="What is your name?" ng-model="formdata.name" required>
                <span ng-show="frm.name.$touched && frm.name.$invalid">Name is required!!</span>
                <span ng-show="frm.name.$touched && frm.name.$error.required"></span>
            </label>

            <label class="label-group" >Age:
                <input type="text" name="age" placeholder="How old are you?" ng-model="formdata.age" required>
                <span ng-show="frm.age.$touched && frm.age.$error.required"> Required!</span>
            </label>

            <label class="label-group">Address:
                <input type="text" name="address" placeholder="Where do you live?" ng-model="formdata.Address" required>
                <span ng-show="frm.address.$touched && frm.address.$invalid">Address is required!!</span>
                <span ng-show="frm.address.$touched && frm.address.$error.required"></span>
            </label>

            <label class="label-group">Gender:</label>
            <input type="radio" id="male" value="male" name="gender"><label for="male" class="light">MALE</label><br>
            <input type="radio" id="female" value="female" name="gender"><label for="female" class="light">FEMALE</label>

            <label class="label-group">Contact:
                <input type="number" name="number" placeholder="your Phone number" ng-model="formdata.number" required>
                <span ng-show="frm.number.$touched && frm.number.$error.required">Required!</span>
            </label>

            <label class="label-group">Email:
                <input type="email" name="email" placeholder="xyz@example.com" ng-model="formdata.emailAddress" required>
                <span ng-show="frm.email.$touched && frm.email.$error.required"> Required!</span>
                <span ng-show="frm.email.$dirty && frm.email.$error.email">Not an email!!</span>
            </label>

            <label class="label-group">Password:
                <input type="password" name="password" placeholder="password" ng-model="formdata.password" required ng-maxlength="16" ng-minlength="8">
                <span ng-show="frm.password.$touched && frm.password.$error.required"></span>
                <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Too short</span>
                <span ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too long</span>
            </label>

            <label class="label-group">Password:
                <input type="password" placeholder="Re-enter password" ng-model="formdata.password1" ng-change="check()">
            </label>

        </fieldset>
        <button class="submitbtn" ng-disabled="frm.$invalid||frm.$untouched|| pass12 =='true'" ng-click="getInfo()">Sign Up</button>
    </form>
</div>
</body>
</html>