<!DOCTYPE html>
<html lang="en">
<head>
    <title>PROJECTS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    Future projects <small>from Our Team!</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                KNOW BOOKS
            </h3><img alt="Bootstrap Image Preview" src="images/books.jpg" width="200" height="200">
            <address>
                <strong>Android app</strong><br> Get to know all your books <br> <abbr title="Phone">On your phone</abbr>On your Fingertips
            </address>
            <div class="row">
                <div class="col-md-12">
                    <h3>
                        KNOW FOOD
                    </h3><img alt="Bootstrap Image Preview" src="images/food.jpg" width="200" height="200">
                    <address>
                        <strong>Web application</strong><br> Order Food from anywhere<br> From your phone<br> <abbr title="Phone">Or your computer</abbr>
                    </address>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>