<!DOCTYPE html>
<html lang="en">
<head>
    <title>form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="search.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
</head>
<body>


<div class="search-background ">
    <div id="map1234" maps1 style="width:100%;height:380px;" ></div>
    <div class=" search">
        <label class="">
            <h1 style=" font-size: 3em"><strong>WHERE ARE YOU  WILLING TO VISIT?</strong></h1>
        </label>
        <div class=" dropdown">
            <button class="btn btn-info btn-lg  dropdown-toggle" type="button" data-toggle="dropdown" ng-click="getDistrict()">
                Find Places<span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-block scrollable-menu">
                <li ng-repeat="district in District" ng-model="showplace.place" style="text-align: center"><a ui-sref="home.places({district:district})">{{district}}</a></li>

            </ul>
        </div>
    </div>



</div>
</body>
</html>