<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
<div class="background2">

<div >


    <ul class="imgList" ng-repeat="stories in storiesList">
        <li>
            <a ui-sref="home.showfullStories({storiesid:stories._id})">

                <img src="{{stories.visitedPlacelink}}" width="200px" height="200px" alt="sightseeing">
                <h3 style="text-decoration: no-underline">{{stories.visitedPlace}}</h3>
            </a>

        </li>

        <li>

    </ul>

</div>
    </div>
</body>
</html>