

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 100vh;}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;

}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
        padding-top: 30px;
    }
    .row.content {height:auto;}
}

.carousel-inner > .item > img {
    width: 100%;
    height: 500px;
    margin: auto;
    max-height: 500px;

}


.footer{
    margin-bottom:0px;
}

.background{
    background-color: #51CA45;
    height: 100vh;
    margin-top: 0px;

}
form {
    display: block;
    margin: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: 0;
}

form > div > label {
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}
form > div.switch > label {
    padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
    height: 86px;
}

label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
    transition: all linear .3s;
}

.col-submit {
    text-align: center;
    padding: 20px;
}

label > select {
    display: block;
    width: 100%;
    padding: 0;
    color: #555;
    margin: 16px 0 6px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: .4;
    transition: all linear .3s;
}

label > input:focus, label > select:focus {
    opacity: 1;
}
@media(min-width: 850px){
    form > div { display: inline-block; }
    .col-submit { display: block; }

    .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }

    .col-2 { width: 50% }
    .col-3 { width: 33.3333333333% }
    .col-4 { width: 25% }

    .col-submit button { width: 30%; margin: 0 auto; }
}



.sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
}



.body1{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.topic{
    padding-top: 50px;
    font-size: 4em;
}

.description{
    font-family: 'Adelle Sans', arial, sans-serif;
    padding-top: 50px;
}
.menu:first-child{
    border-top: .1rem solid #e4e4e4;
}
.menu{
    padding: 10px;
    border-bottom:  .1rem solid #e4e4e4;
}


/*sidebar*/
#sidebar-wrapper{
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #147258;
    opacity: 0.9;
}

/*page content*/
#page-content-wrapper{
    width: 100%;
    position:absolute;
    padding-left:50px;

}

#wrapper.menuDisplayed #sidebar-wrapper{
    width: 250px;

}

#wrapper.menuDisplayed #page-content-wrapper{
    padding-left: 250px;
}

/*sidebat styling*/
.sidebar-nav{
    padding: 0;
    list-style: none;
}
.sidebar-nav li{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a{
    display: block;
    text-decoration:none;
    color: #ddd;
}
.sidebar-nav li a:hover{
    background: #124578;
}

/*form*/

@import url(http://fonts.googleapis.com/css?family=Laila:400,700);

form > div > center {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: bold;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



form {
    display: block;
    margin: 30px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    font-size: 0;
}

form > div > label {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: block;
    padding: 20px 20px 10px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}
form > div.switch > label {
    padding: 16px 20px 13px;
}

.col-md-6, .col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
    height: 86px;
}

label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
    transition: all linear .3s;
}

.col-submit {
    text-align: center;
    padding: 20px;
}

label > select {
    display: block;
    width: 100%;
    padding: 0;
    color: #555;
    margin: 16px 0 6px;
    font-weight: 500;
    background: transparent;
    border: none;
    outline: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: .4;
    transition: all linear .3s;
}

input, textarea {
    -webkit-font-smoothing: antialiased;
    outline: none;
}

label > input:focus, label > select:focus {
    opacity: 1;
}
.col-2, .col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
    height: 86px;
}


button {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: 0 0 15px 0;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    overflow: hidden;
    outline: none;
}

button.submitbtn {
    background-image: -moz-linear-gradient(#97c16b, #8ab959);
    background-image: -webkit-linear-gradient(#97c16b, #8ab959);
    background-image: linear-gradient(#97c16b, #8ab959);
    border-bottom: 1px solid #648c3a;
    cursor: pointer;
    color: #fff;
}
button.submitbtn:hover {
    background-image: -moz-linear-gradient(#8ab959, #7eaf4a);
    background-image: -webkit-linear-gradient(#8ab959, #7eaf4a);
    background-image: linear-gradient(#8ab959, #7eaf4a);
}
button.submitbtn:active {
    height: 34px;
    border-bottom: 0;
    margin: 1px 0 0 0;
    background-image: -moz-linear-gradient(#7eaf4a, #8ab959);
    background-image: -webkit-linear-gradient(#7eaf4a, #8ab959);
    background-image: linear-gradient(#7eaf4a, #8ab959);
    -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}


@media(min-width: 850px){
    form > div { display: inline-block; }
    .col-submit { display: block; }

    .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }

    .col-2 { width: 50% }
    .col-3 { width: 33.3333333333% }
    .col-4 { width: 25% }

    .col-submit button { width: 30%; margin: 0 auto; }
}
